body {
  background-color: #ffe6f0; 

  justify-content: center; 
  font-family: Arial, sans-serif;
}

header {
  background-color: #ff5471;

  display: grid;  
  justify-content: center;
  align-items: center;
  border-radius: 25px; 
  margin-bottom: 10px;
  text-align: center;
}

h6{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h7{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0 px;
  margin: 10px;
}

p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

.container {
  width: 100%;
  display: flex;               
  justify-content: space-between; 
  gap: 20px;  
  border-radius: 25px;               
}

.inside {
  display: grid;
  border-radius: 25px;  
}

.box{
  background-color: #ff5471;
  margin: 5px;
  width: 100%;
  display: flex;               
  justify-content: space-between; 
  border-radius: 25px; 
  white-space: normal;
  flex-direction: column;
  text-align: center;
  justify-content: center
}


